<div class="init-page">
<div class="homeleft">
    <h5>Welcome to the Odin Book</h5>
    <center>
      <div>
        <%= link_to "Sign in with Facebook", '#', class: "waves-effect waves-light btn" %> 
        OR
      </div>
    </center>
</div>

<div class="homeright">
  <h5>Sign Up</h5>
  <%= render 'devise/shared/register_form' %>
</div>
</div>

