@import "materialize";

/* Navigation Bar */
.brand-logo {
  margin-left: 40px;
  text-shadow: 1px 1px black;
}
nav {
  background: #782F49;
}

nav ul {
  margin-right: 40px; 
}

nav ul .btn {
  margin-top: 15px;
}

nav ul li {
  padding-right: 5px; 
}

.accept-btn {
  color: green;
}

.ignore-btn {
  color: red;
}

/* Body */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* Home Page */

.init-page {
  width: 100%;
}

.homeright {
  float: right;
  margin-right: -20px;
  padding-right: 60px;
  padding-left: 60px;
  background: #FFFBFF;
}

.homeleft {
  float: left;
  .btn {
    background: #0D89FF;
  }
}

/* Forms */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 white;
   }
.login-main {
  width: 400px;
}

.profile-form {
  margin-left: 200px;
  margin-right: 200px
}

/* Profile */

#info-col {
  background: #782F49;
}

/* Posts */

.post-form {
  padding-left: 10px;
  padding-right: 10px;
}

.post-content {
  height: 80px;
  resize: none;
}
#post-alone {
  width: 550px;
}

#title-post {
  text-align-last: left;
}

#comment-title {
  background: #782F49;
  color: white;
}

/* Footer */
body .page-footer {
  background: #782F49;
}



